@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito',sans-serif;
  text-decoration: none;
  transition: .2s linear;
}
html{
  font-size: 62.5%;
}




/* Menu */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 2;
}

.header .logo img{
  height: 6rem;
}

.header .navbar #close{
  display: none;
  position: absolute;
  top: 4rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
}

.header .navbar a{
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
}

.header .navbar a:hover{
  color: #B23B3D;
}

.header #menu{
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
}


/* Landing Page */
section{
  padding: 2rem 9%;
}
.home{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #7F669D;
}

.home .content{
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .content .title{
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}

.home .content .title span{
  text-transform: uppercase;
  color: #B23B3D;
}

.home .content .description{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #fff;
}

.home .content .btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #B23B3D;
  cursor: pointer;
}

.home .content .btn:hover{
  letter-spacing: .2rem;
}

.home .image{
  flex: 1 1 40rem;
} 

.home .image img{
  width: 100%;
}

/* Responsive  */

@media (max-width:991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem;
  }

  section{
    padding: 2rem;
  }

}

@media (max-width:768px){

  .header #menu{
    display: inline-block;
  }

  .header .navbar{
    position: fixed;
    top: 0; right: -105%;
    width: 30rem;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(50px);
    transition: .5s;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }

  .header .navbar.active{
    right: 0;
  }

  .header .navbar #close{
    display: block;
  }

  .header .navbar a{
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }

  .home .content{
    padding-top: 9.5rem;
  }

  .home .image img{
    width: 368px;
  } 

  .home .content .title{
    font-size: 4rem;
  }

  .home .content .description{
    font-size: 1.6rem;
  }

}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
}

/* Page de connexion et inscription*/

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #7F669D;
  background-size: cover;
  background-position: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.wrapper{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter:  blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  transition: all 0.8s ease-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;

}

.content-wrapper {
  max-height: 570px;
  margin: 0 auto;
}


.logo__i{
  max-width: 150px;
  max-height: 150px;
  padding-bottom: 10px;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper h2{
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
  z-index: 1;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
    transform: translateY(-50px);
    font-size: 14px;
    color: #fff;
    transition: all 0.5s ease;
}


.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  transition: all 0.5s ease;
}

.input-box input::placeholder{
  color: white;
}

.input-box input[type="password"]::-webkit-text-security-disc {
  display: none;
}

#togglePassword, #toggleLock {
  transition: all 0.8s ease-in-out;
}

.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .btn__connexion{
  width: 120px;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  display: inline-block;
}

.btn__connexion:hover{
  background-color: #B23B3D;
  color: #fff;
  width: 140px;
  height: 50px;
  transition: all  0.8s ease;
}

.btn__inscription{
  width: 150px;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  display: inline-block;
}

.btn__inscription:hover {
  background-color: #B23B3D;
  color: #fff;
  width: 160px;
  height: 50px;
  transition: all  0.8s ease;
}

.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin-top: 25px;
}

.register-link p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
  color: #B23B3D;
  transition: all .6s linear;
}

/*Css de base php*/

.error {
    color: red;
}